#platform=x86, AMD64, or Intel EM64T
# System authorization information
auth  --useshadow  --enablemd5 
# System bootloader configuration
bootloader --location=mbr
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel
# Use text mode install
text
# Firewall configuration
firewall --disabled
# Run the Setup Agent on first boot
firstboot --disable
# 跳过序列号
key --skip
# System keyboard
keyboard us
# System language
lang en_US
# Installation logging level
logging --level=info
# Use network installation
url --url=http://yum.server.local/rhel/5.8/x64/
# Network information
network --bootproto=dhcp --device=eth0 --onboot=on --nameserver=192.168.1.201
# Reboot after installation
reboot
#Root password
#rootpw --iscrypted $1$67JilRHc$Isg.CKRWRScJmFEmGogsz/
rootpw hisunsray

# SELinux configuration
selinux --disabled
# Do not configure the X Window System
skipx
# System timezone
timezone  Asia/Shanghai
# Install OS instead of upgrade
install
# Disk partitioning information
part /boot --fstype="ext3" --size=200
part pv.01 --size 1 --grow
volgroup VolGroup00 pv.01
logvol swap --vgname=VolGroup00 --size=8196 --name=lv_swap
#logvol / --vgname=VolGroup00 --size=1 --name=lv_root --grow --percent=80
logvol / --vgname=VolGroup00 --size=1 --name=lv_root --grow

%packages
@base
@core
@development-tools
@development-libs
@admin-tools
@system-tools
@text-internet
@editors

%post

cmds=(
init_redhat.sh
yum_local.sh
modify_syslog.sh
install_nagios-plugins.sh
install_nrpe.sh
install_snmp.sh
install_lftp.sh
install_mawk.sh
install_htop.sh
install_rsync.sh
nrpe.sh
)


for shell in "${cmds[@]}"
do
        curl http://yum.server.local/shell/${shell}|sh
done

wget http://yum.server.local/shell/binding_bond.sh -O /root/binding_bond.sh
